<% provide(:title, 'Home') %>

    <h1>Yale1on1 | Home</h1>

    <p>Frustrated that you STILL don't know your entire class? Join Yale1on1, and meet a pool of SOM students eager to make new connections. Sign up now, and go beyond the cohort.
	</p>
	
</html>