@import "bootstrap";

/*mixins, variables*/
$grayMediumLight: #eaeaea;


/*universal*/

html {
	overflow-y: scroll;
	height: 100%;
	background: url('bg.jpg') no-repeat center center;
}


body {
	padding-top: 60px;
	background-color: transparent;
}

section{
	overflow: auto;	
}

textarea {
	resize: vertical;
}


/*typography*/

h1,h2,h3,h4,h5,h6{
	line-height:1;	
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2{
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $blue;
}

p{
	font-size: 1.1em;
	line-height: 1.7em;
}

/*header*/

#header {
	background: $white;
	/*background: url('slide.png') no-repeat center;*/
}

.navbar-inner {
	background-color: transparent;
}

.navbar-inner .container{
	background: url('slide.png') no-repeat center;
	width: 600px;
	height: 175px;
	background-color: transparent;
}

.navbar .navbar-fixed-top .navbar-inverse{
	background-color: $red;
}

#logo {
	float: middle;	
}

/*body*/
.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
	float: left;
}

.center .hero-unit {
	float: left;
}


/*footer*/

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $red;
	a {
		color: $pink;
		&:hover{
			color:$orange;
		}
	}
	small {
		float: left;	
	}	
	ul{
		float: right;
		list-style: none;
		li{
			float: left;
			margin-left: 10px;
		}
	}
}






